<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie-edge" http-equiv="X-UA-Comptatible">

    <!-- Linking Fontawesome -->
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/4d53e5f024.js"></script>

    <!-- Linking CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/tailwind.css">
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">


    <style>
        ::selection {
            color: white;
            background: #0E9F6E;
        }
    </style>

    <title>Home - Life in Village</title>
</head>
<body class="md:p-0 p-4">
<%- include ('components/navbar.ejs') %>
<div class="text-left max-w-7xl mx-auto py-24">
    <h1 class="text-7xl max-w-5xl font-extrabold text-gray-800">Starte deine Reise in <span class="text-gray-900">Minecraft Life in Village 7</span></h1>
    <div class="mt-6 max-w-5xl">
        <h3 class="text-2xl font-semibold text-gray-500">In <span class="text-gray-900">Minecraft Life in Village 7</span> kannst du machen was du möchtest. Begebe dich auf spannende Abenteuer, erkunde die großen Weltmeere, Wüsten oder baue dein Traumhaus!</h3>
    </div>
    <div class="mt-12">
        <a href="" class="bg-gray-800 hover:bg-gray-900 text-white font-semibold text-base py-3 px-6 rounded-lg">Jetzt Abenteuer starten</a>
    </div>
    <div class="mt-12">
        <div class="grid grid-flow-cols md:grid-cols-2 grid-cols-1 gap-y-4 gap-x-4">
            <div>
                <img src="images/pic_landing.png" class="w-auto rounded-md" alt="">
            </div>
            <div>
                <img src="images/pic_landing2.png" class="w-auto rounded-md" alt="">
            </div>
        </div>
    </div>
</div>

<div class="py-24 bg-gray-100">
    <div class="text-left max-w-7xl mx-auto">
        <div>
            <h1 class="text-emerald-500 font-semibold text-xl uppercase">Features</h1>
            <h1 class="mt-1 font-extrabold text-bluegray-900 text-6xl">Ein Cooles Spielerlebnis, wirklich.</h1>
        </div>
        <div class="mt-6 max-w-4xl">
            <h3 class="text-2xl font-semibold text-gray-500">Da normales Minecraft Vanilla auf dauer langweilig wird wird Life in Village 7 ein Plugin enthalten, welches das Spielerlebnis um deuten verbessert. Life in Village bietet euch zum Beispiel:</h3>
        </div>
    </div>
    <div class="pt-12 max-w-7xl mx-auto grid grid-flow-cols xl:grid-cols-3 grid-cols-1 gap-y-4 gap-x-4 justify-center">
        <div class="p-8 bg-white rounded-md">
            <div class="flex">
                <h1 class="font-bold uppercase text-emerald-500">Währungssystem</h1>
                <span class="text-emerald-500 text-2xl ml-auto"><i class="fas fa-pound-sign"></i></span>
            </div>
            <div class="mt-4">
                <p class="text-gray-500 font-normal">Life in Village 7 wird eine eigene Währung namens <span class="text-gray-900">Silber</span> haben. Dieses Silber verdienst du dir durch Jobs, Handel mit Händler oder Spielern.</p>
            </div>
        </div>
        <div class="p-8 bg-white rounded-md">
            <div class="flex">
                <h1 class="font-bold uppercase text-amber-500">Eigene Items</h1>
                <span class="text-amber-500 text-2xl ml-auto"><i class="fas fa-toolbox"></i></span>
            </div>
            <div class="mt-4">
                <p class="text-gray-500 font-normal">Ebenfalls wird es eigene Items geben, die dir verschiedene Features freischalten und das Minen z.B. erleichtern.</p>
            </div>
        </div>
        <div class="p-8 bg-white rounded-md">
            <div class="flex">
                <h1 class="font-bold uppercase text-cyan-500">Naturkatastrophen</h1>
                <span class="text-cyan-500 text-2xl ml-auto"><i class="fas fa-cloud-rain"></i></span>
            </div>
            <div class="mt-4">
                <p class="text-gray-500 font-normal">Life in Village ist nicht so sicher wie es scheint. Naturkatastrophen wie Säure Regen suchen das Dorf heim.</p>
            </div>
        </div>
    </div>
</div>

<div class="text-center py-24">
    <h1 class="mt-1 font-extrabold text-bluegray-900 text-5xl">Derzeit Online auf Life in Village 7</h1>
    <% if(players.length > 0) { %>
    <div class="mt-12 grid grid-flow-cols md:grid-cols-4 grid-cols-2 gap-y-12 justify-center max-w-7xl mx-auto">
        <% players.forEach((player) => { %>
        <div class="">
            <img src="https://minotar.net/helm/<%= player.username %>/100.png" class="border-2 border-emerald-500 border-dashed p-1 rounded-full mx-auto h-16 w-16" alt="">
            <div class="mt-2">
                <a href="https://www.twitch.tv/yaMaxTV" class="text-lg font-semibold text-gray-900"><%= player.username %></a>
            </div>
        </div>
        <% }); %>
    </div>
    <% } else { %>
        <div class="mt-8 max-w-7xl mx-auto text-center">
            <h1 class="text-2xl font-light text-gray-800">Sieht hier ziemlich leer aus :(</h1>
        </div>
    <% } %>
</div>

</body>

</html>