<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <style>
        ::selection {
            color: white;
            background: #0E9F6E;
        }
    </style>

    <title>Home - Life in Village</title>
</head>
<body>
<section class="mx-auto p-12">
    <% if(data.username) { %>
        <h1 class="text-3xl">Willkommen auf der Life in Village Webseite <%= data.username %></h1>
    <% } else { %>
    <h1 class="text-3xl">Willkommen auf der Life in Village Webseite</h1>
     <div class="mt-2">
         <a href="/login" class="py-2 px-2 bg-blue-400 hover:bg-blue-600 text-white font-semibold">Logge dich ein</a>
     </div>
    <% } %>
</section>
</body>
</html>