<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie-edge" http-equiv="X-UA-Comptatible">

    <!-- Linking Fontawesome -->
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/4d53e5f024.js"></script>

    <!-- Linking CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/tailwind.css">
    <link href="https://rsms.me/inter/inter.css" rel="stylesheet">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">


    <style>
        ::selection {
            color: white;
            background: #0E9F6E;
        }
    </style>

    <title>Home - Life in Village</title>
</head>
<body>
<div class="bg-white">
    <nav class="max-w-7xl mx-auto border-b">
        <ul class="py-5 px-2 flex text-gray-500 font-medium">
            <li class="mx-4 py-1 hover:text-gray-900">
                <a href="">Handelsplatz</a>
            </li>
            <li class="mx-4 py-1 hover:text-gray-900">
                <a href="">Ranglisten</a>
            </li>
            <li class="mx-4 py-1 hover:text-gray-900">
                <a href="">Statistiken</a>
            </li>
            <li class="mx-4 py-1 hover:text-gray-900">
                <a href="">Das Team</a>
            </li>
            <li class="ml-auto flex text-white">
                <a href="" class="mx-2 py-1 whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">Einloggen</a>
                <a href="" class="mx-2 py-1 px-4 rounded-md bg-emerald-500 hover:bg-emerald-600 font-medium">Registrieren</a>
            </li>
        </ul>
    </nav>
</div>
<div class="text-center max-w-7xl mx-auto py-24">
    <h1 class="text-5xl font-extrabold text-gray-800">Minecraft Life in Village 7</h1>
    <div class="mt-4 max-w-3xl mx-auto">
        <h3 class="text-lg text-gray-500">Begebe dich in Minecraft Life in Village 7 in spannende Abenteuer, erkunde die Weltmeere oder baue dir dein Traumhaus!</h3>
    </div>
    <div class="mt-8">
        <a href="" class="bg-emerald-500 hover:bg-emerald-600 text-white font-semibold text-base py-1 px-4 rounded-md">Jetzt Abenteuer starten</a>
    </div>
</div>
<!-- Team Section -->
<div class="text-center max-w-7xl mx-auto py-24 bg-gray-100">
    <h1 class="mt-1 font-extrabold text-bluegray-900 text-5xl">Das Team von Life in Village 7</h1>
    <div class="mt-2 mx-auto max-w-xl">
        <p class="text-lg font-semibold text-gray-400">Lerne das Team von Life in Village 7 kennen! :)</p>
    </div>
    <div class="mt-12 grid grid-flow-cols grid-cols-4 gap-y-12 justify-center max-w-7xl mx-auto">
        <div class="">
            <img src="https://minotar.net/helm/dermakku/100.png" class="border-2 border-emerald-500 border-dashed p-1 rounded-full mx-auto h-16 w-16" alt="">
            <div class="mt-2">
                <a href="https://www.twitch.tv/yaMaxTV" class="text-lg font-semibold text-gray-900">yaMaxTV</a>
                <h1 class="text-emerald-500 font-semibold text-lg">Founder, Web Entwickler</h1>
            </div>
        </div>
        <div class="">
            <img src="https://minotar.net/helm/RegenJacob/100.png" class="border-2 border-cyan-500 border-dashed p-1 rounded-full mx-auto h-16 w-16" alt="">
            <div class="mt-2">
                <a href="https://www.twitch.tv/RegenJacob" class="text-lg font-semibold text-gray-900">RegenJacob</a>
                <h1 class="text-cyan-500 font-semibold text-lg">Java Entwickler</h1>
            </div>
        </div>
        <div class="">
            <img src="https://minotar.net/helm/Beatjx/100.png" class="border-2 border-cyan-500 border-dashed p-1 rounded-full mx-auto h-16 w-16" alt="">
            <div class="mt-2">
                <a href="https://www.twitch.tv/edgarogg" class="text-lg font-semibold text-gray-900">Beatjx</a>
                <h1 class="text-cyan-500 font-semibold text-lg">Java Entwickler, Designer</h1>
            </div>
        </div>
        <div class="">
            <img src="https://minotar.net/helm/IridiumHD1/100.png" class="border-2 border-amber-500 border-dashed p-1 rounded-full mx-auto h-16 w-16" alt="">
            <div class="mt-2">
                <a href="https://www.twitch.tv/yaMaxTV" class="text-lg font-semibold text-gray-900">IridiumHD1</a>
                <h1 class="text-amber-500 font-semibold text-lg">Content</h1>
            </div>
        </div>
        <div class="">
            <img src="https://minotar.net/helm/SkyleYT/100.png" class="border-2 border-yellow-500 border-dashed p-1 rounded-full mx-auto h-16 w-16" alt="">
            <div class="mt-2">
                <a href="https://www.twitch.tv/SkyleYT" class="text-lg font-semibold text-gray-900">SkyleYT</a>
                <h1 class="text-yellow-500 font-semibold text-lg">Builder</h1>
            </div>
        </div>
        <div class="">
            <img src="https://minotar.net/helm/Llulko/100.png" class="border-2 border-yellow-500 border-dashed p-1 rounded-full mx-auto h-16 w-16" alt="">
            <div class="mt-2">
                <a href="https://www.twitch.tv/Llulko" class="text-lg font-semibold text-gray-900">Llulko</a>
                <h1 class="text-yellow-500 font-semibold text-lg">Builder</h1>
            </div>
        </div>
    </div>
</div>

</body>

</html>