<div class="border mx-auto border-gray-300 rounded shadow-lg p-4 max-w-3xl">
    <div class="flex items-center">
        <div class="mr-4">
            <img src="https://minotar.net/helm/dermakku/100.png" class="rounded-full h-auto w-12" alt="">
        </div>
        <div class="p-2 w-full">
            <div class="flex">
                <h1 class="text-gray-900 text-lg font-semibold">Test</h1>
                <h1 class="ml-auto text-sm text-gray-300">2 minutes ago</h1>
            </div>
            <div>
                <h1 class="text-sm text-gray-200">@test</h1>
            </div>
        </div>
    </div>
    <div class="mt-2">
        <p class="text-gray-800">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus adipisci aliquid assumenda, at consequatur dignissimos dolor doloribus id, ipsam laborum maiores optio, praesentium qui quo rem repellendus vel veritatis?</p>
    </div>
</div>